
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #E6D2B8;
    padding: 20px;
}


.container {
    max-width: 800px;
    margin: 0 auto;
}


.card {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


h1 {
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}


ul {
    margin-left: 20px;
    margin-bottom: 10px;
}


a {
    text-decoration: none;
    color: #0077cc;
}

a:hover {
    color: #005fa3;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

th {
    background-color: #E5A27C;
    color: white;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #E6B492;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}

.dark-mode {
    background-color:#222;
    color:rgb(243, 238, 238);
    .card {
        background: #222020;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    button {
        padding: 10px;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        border: none;
        cursor: pointer;
    }
    th {
        background-color: #222020;
        color: white;
    }
}

.hidden {
    display:none;
}